





/* h1 {
    visibility: visible;
}

.lorem {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
    border: 4px dashed black;
    padding: 10px;
} */